.detail{
    width: 100%;
    max-width: 100%;
}
.container{
    display: flex;
    width: 100%;
    margin: 40px;
    border-radius: 20px;
    background-color: white;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.title h3{
    text-align: right;
    margin-bottom: 15px;
}
h3{
    background-color: grey;
    color: white;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
}
.container img{
    width: 40%;
    max-width: 300px;
    padding-left: 40px;
    margin-left: 50px;
    margin-bottom: 30px;
    /*float: left;*/
}
.detail-complet {
    width: 60%;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 20px;
    /*float: right;*/
}
main{
    margin-bottom: 200px;
}