.detail{
    width: 100%;
    max-width: 100%;
}

.container {
    display: flex;
    width: 100%;
    margin: 40px;
    border-radius: 20px;
    background-color: white;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.title h3{
    text-align: right;
    margin-bottom: 15px;
}

h3 {
    background-color: grey;
    color: white;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
}

.container img{
    width: 40%;
    max-width: 300px;
    padding-left: 40px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.cart-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 160px;
    width: 100%;
    margin: 40px;
    border-radius: 20px;
    background-color: white;
    gap: 5px;
}

.selectedImgCart {
    width: 40%;
    max-width: 300px;
    padding-left: 40px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.detail-complet {
    width: 60%;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 20px;
    /*float: right;*/
}

main{
    margin-bottom: 20px;
}

.container-quantity {
    display: inline-block;
    background-color: #4159e0;
    color: white;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 25px;
    overflow: hidden;
}

.btn-quantity {
    display: inline-block;
    background-color: #4159e0;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.2s;
}

.quantitytoBuy {
    padding: 0 20px;
    font-size: 16px;
}

.deleteItem {
    font-size: 18px;
    text-decoration: underline;
    color: #4159e0;
    border:none;
    padding: 15px;
    padding-bottom: 5px;
    background-color: white;
    cursor: pointer;
}

p {
    font-size: 20px;
    font-weight: bold;
}

.container-buy {
    display: flex;
    gap: 35px;
}

.bt-add {
    display: inline-block;
    color: rebeccapurple;
    width: fit-content;
    padding: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    border-radius: 25px;
    border: 1px;
    font-weight: bold;
    background-color: #ffd400;
    cursor: pointer;
}

.container-add {
    margin-bottom: 15px;
}

.msjStock {
    color: rgb(50, 193, 50);
}

h2 {
    text-align: center;
    font-size: 50px;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: grey;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
}
.cart-container {
    display: inline-flex;
  background-color: white;
  border-radius: 20px;
  padding: 32px;
  max-width: 1300px;
  width: 100%;
}
.cart-layout {
  display: inline-block;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
}
.cart-items {
  background-color: #f8f8f8;
  border-radius: 16px;
  min-height: 200px;
  padding: 20px;
}
.cart-summary {
  background-color: #f0f0f0;
  border-radius: 16px;
  padding: 20px;
  height: fit-content;
}

.hidden {
    display: none;
}


