.box {
    width: 60%;
    height: 280px;
    max-width: 600px;
    padding: 40px;
    margin: 80px auto;
    text-align: center;
    font-size: 25addpx;
    font-family:serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0.9;
    position: relative;
    background: #ffffff;
    transition: background-color 0.5s ease;
}

#receipt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#thanks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 36px;
}

.hidden {
    display: none !important;
}

.visible {
    display: flex !important;
}
#receipt div {
    border-bottom: 1px solid #790000;
    padding: 8px;
    width: 100%;
    text-align:left;
}

