body {
  margin: 0px;
  background-image: url(./assets/Background.png);
  background-size: cover;
}

.cajamadre {
  display: inline-flex;
  background-color: yellow;
  /*padding: 45px;*/
  width: 100%;
}

.logo {
  width: 110px;
  padding: 10px;
  border-radius: 50px;
}

.cajaboton {
  display: flex;
  max-height: 200px;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 120px;
  color: white;
}

.botoninicio {
  width: 120px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 15px;
  background: rgb(103, 80, 164);
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-size: auto;
}

.cajabuscar {
  display: flex;
  margin-left: 90px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.carrito {
  width: 50px;
  padding: 15px;
  margin-left: 25px;
}

.mensaje {
  width: 50px;
  padding: 5px;
  margin-left: 25px;
}

footer {
  background-color: black;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
  justify-content: center;
  color: beige;
  font-size: 18px;
  text-align: center;
}

.objetivo {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: black;
  background-color: #f3edf7;
  margin: 90px;
  border-radius: 55px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

h1 {
  display: flex;
  flex-direction: column;
  font-size: 90px;
  align-items: center;

  color: black;
  animation: colorcambio 3s infinite alternate;
}

@keyframes colorcambio {
  0% {
    color: #ffd400;
  }

  50% {
    color: #6b4eff;
  }

  100% {
    color: #000000;
  }
}

.tituloconlogos {
  display: flex;
  font-size: 18px;
  justify-content: space-around;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f3edf7;
  justify-content: space-between;
  margin-top: 100px;
  border-radius: 36px;
  flex-direction: row;
  margin: 40px;
}

.patito1 {
  width: 180px;
  padding: 0px;
  border-radius: 50px;
}
.icon-button {
  background-color: yellow;
  border: none;
  padding: 0;
  cursor: pointer;
}

#searchResults {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border-radius: 10px;
  padding: 5px 0;
  z-index: 9999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

#searchResults:empty {
  display: none;
}

.cajabuscar {
  display: flex;
  margin-left: 90px;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}

.suggestion {
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.suggestion:last-child {
  border-bottom: none;
}

.suggestion:hover {
  background-color: #f2f2f2;
}
