body {

  margin: 0px;
  background-image: url(./assets/Background.png);
  background-size: cover;
}


.cajamadre {
  display: flex;
  background-color: yellow;
  padding: 45px;
  width: 100vw;

}

.logo {
  width: 110px;
  padding: 10px;
  border-radius: 50px;
}

.cajaboton {
  display: flex;
  max-height: 200px;
  margin-left: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 120px;
  color: white;
}

.botoninicio {

  width: 280px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100px;
  border-radius: 15px;
  background: rgb(103, 80, 164);
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.cajabuscar {
  display: flex;
  max-height: 500px;
  margin-left: 90px;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 40px;

}

.carrito {
  width: 50px;
  padding: 15px;
  margin-left: 25px;
}

.mensaje {
  width: 50px;
  padding: 5px;
  margin-left: 25px;
}

footer {
  background-color: black;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 90;
  justify-content: center;
  color: beige;
  font-size: 18px;
  text-align: center;
}


.objetivo {
  display: flex;
  flex-direction: column;
  font-size: 19px;
  color: black;
  background-color: #F3EDF7;
  margin: 40px;
  border-radius: 15px;
  width: 100vw;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
  display: flex;
  flex-direction: column;
  font-size: 90px;
  align-items: center;
  width: 0vw;
  color: black;
  animation: colorcambio 3s infinite alternate;
}

@keyframes colorcambio {
  0% {
    color: #FFD400;
  }

  50% {
    color: #6B4EFF;
  }

  100% {
    color: #000000;
  }
}


.tituloconlogos {
  display: flex;
  font-size: 18px;
  width: 100%;
  gap: 340px;
  align-items: center;
  padding-left: 30px;
  padding-right: 1px;
  background-color: #F3EDF7;
  justify-content: center;
  margin-left: 80px;
  margin-right: 200px;
  margin-top: 100px;
  border-radius: 36px;

}

.patito1 {
  width: 140px;
  padding: 10px;
  border-radius: 50px;

}